snippet boiler
#include <stdio.h>
#include <stdlib.h>
#include <math.h>

int main (int argc, char** argv) {
	$1

	return 0;
}
endsnippet

snippet print
printf("$1");
endsnippet

snippet main
int main (int argc, char** argv) {

	$1

	return 0;
}
endsnippet

snippet fori
for(int i = 0; i < $1; i ++) {
	$2
}
endsnippet

